.big-counter {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: black;
    color: white;
}

.digit {
    font: bold 10vw/1rem Courier;
    padding: 2rem 1rem;
    margin: 1rem;
    background: teal;
    border-radius: 25%;
}

.seconds {
    letter-spacing: 1rem;
    text-align: center;
}

.white {
    color: white !important;
}
